body {
  background: red;
  text-align: center;
  color: white;
  font-family: cursive;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.face-detection {
    color: white;
    border-radius: 50px;
    border: 2px solid white;
}

.face-detection img {
    border-radius: 50px;
    border: 2px solid white;
    z-index: 999;
}

.face-detection, .muisc-table {
    padding: 10px;
}
