<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emotion Music Recommendation</title>
    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    /> -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <script>
      function fetchRecommendations() {
        fetch("/music_recommendations")
          .then((response) => response.text())
          .then((data) => {
            document.getElementById("music-table").innerHTML = data;
          });
      }

      setInterval(fetchRecommendations, 5000); // Fetch recommendations every 5 seconds
    </script>
  </head>
  <body>
    <h1 class="header">Emotion Music Recommendation System</h1>
    <div class="container">
      <div class="face-detection">
        <p>All eyes on You</p>
        <img
          src="{{ url_for('video_feed') }}"
          width="640"
          height="480"
          class="img"
          alt="Video Feed"
        />
      </div>
      <div id="music-table" class="music-table">
        <!-- Music recommendations will be populated here -->
      </div>
    </div>
  </body>
</html>
